* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #eef8eb;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #2ba836;
}